@import url("./dynamicBackground.scss");
@import url("./dynamicSlidingImages.scss");

body {
    height: 100vh;
    color: white;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}